<h3 class="panel-heading">{{$index+1}}. {{question.Title}}</h3>

<div class="flex-box">

<div class="answers" ng-init="questionIndex = $index">
   
    <ul>
        <!--<div class=""><span class="text-capitalize">Select your Answer</span></div>-->
        <li ng-repeat="answer in question.Answers" class="answer"
            ng-click="ctrl.select(questionIndex, $index)">

            <div class="flex-box">
                <span class="answer-checkbox list-group-item"
                      ng-class="{selected: question.selected === $index}">&nbsp;</span>
                <span style="font-size: 20px; font-weight: bold;" class="alert alert-info col-md-10">{{answer.Text}}</span>
            </div>
        </li>
    </ul>
    </div>
</div>

